@CHARSET "UTF-8";

body {
	background-color: black;
	color: white;
	margin: 0;
}

.page-header {
	text-align: center;
	background-color: gray;
	color: aqua;
	height: 15%;
}

.navigation-bar {
	display: inline;
	list-style-type: none;
	height: 7.5%;
	background-color: aqua;
	color: gray;
	display: inline;
}