<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/house_registration}"
		th:object="${houseRegistrationForm}" method="post">
		<table>
			<tr>
				<td>Town for searching:</td>
				<td><input type="text" name="town" th:field="*{town}" /></td>
				<td th:if="${#fields.hasErrors('town')}" th:errors="*{town}">Street
					Name Error</td>
			</tr>
			<tr>
				<td>Desire house surface (m<sup>2</sup>):
				</td>
				<td><input type="text" th:field="*{houseSurface}" /></td>
				<td th:if="${#fields.hasErrors('houseSurface')}"
					th:errors="*{houseSurface}">Street Name Error</td>
			</tr>
			<tr>
				<td>
					<button type="submit">Submit your query</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>