<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<form action="#" th:action="@{/house_search/send_search_form}"
		th:object="${houseSearchForm}" method="post">
		<table>
			<tr>
				<td>Select the city to search:</td>
				<td><select th:field="*{town}">
						<option th:each="town : ${towns}" th:value="${town}"
							th:text="${town}">town name</option>
				</select></td>
			</tr>
			<tr>
				<td>House surface (m<sup>2</sup>)
				</td>
				<td><input type="number" th:field="*{houseSurface}" th:min="0" /></td>
			</tr>
			<tr>
				<td>Garden surface (m<sup>2</sup>)
				</td>
				<td><input type="number" th:field="*{gardenSurface}" th:min="0" /></td>
			</tr>
			<tr>
				<td><button type="submit">Let's Search your House</button></td>
			</tr>
		</table>
		<a th:href="@{/index}">Return to Main Page</a>
	</form>
</body>
</html>