<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>RREA House Search</title>
<link href="/css/main.css" rel="stylesheet" />
</head>
<body>
	<header class="page-header">
		<h1>For search your new house, please fill the form below</h1>
	</header>
	<form action="#" th:accept="@{/housesquery}"
		th:object="${houseSearchForm}" method="post">
		<table>
			<tr>
				<td>Town:</td>
				<td><input type="text" th:field="*{town}" /></td>
				<td th:if="${#fields.hasErrors('town')}" th:errors="*{town}">Town
					Error</td>
			</tr>
			<tr>
				<td>Country:</td>
				<td><input type="text" th:field="*{country}" /></td>
				<td th:if="${#fields.hasErrors('country')}" th:errors="*{town}">Town
					Error</td>
			</tr>
			<tr>
				<td>Sufarce:</td>
				<td><input type="text" th:field="*{surface}" /></td>
				<td th:if="${#fields.hasErrors('surface')}" th:errors="*{town}">Town
					Error</td>
			</tr>
			<tr>
				<td>Quarter:</td>
				<td><input type="text" th:field="*{quarter}" /></td>
				<td th:if="${#fields.hasErrors('quarter')}" th:errors="*{town}">Town
					Error</td>
			</tr>
		</table>
	</form>
</body>
</html>