<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<dl th:each="house : ${houses}">
		<dt th:text="'Town: ' + ${house.town}">Town</dt>
		<dd>
			House Info:
			<ul>
				<li th:text="'House ID: ' + ${house.id}">House ID</li>
				<li th:text="'Street: ' + ${house.streetName}">Street Name</li>
				<li th:text="'Street Number: ' + ${house.streetNumber}">Street
					Number</li>
				<li th:text="'ZIP Code: ' + ${house.zipCode}">ZIP Code</li>
				<li><a
					th:href="@{/house/houseUpdateDelete/update(houseId=${house.id})}">Update
						House</a></li>
				<li><a
					th:href="@{/house/houseUpdateDelete/delete(houseId=${house.id})}">Delete
						House</a></li>
			</ul>
		</dd>
	</dl>
	<a th:href="@{/index}">Main Page</a>
</body>
</html>