<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form action="#"
		th:action="@{/house/houseUpdateDelete/update/houseId/{houseId}(houseId=${houseToUpdate.id})}"
		th:object="${updateHouseForm}" method="post">
		<table>
			<thead>
				<tr>
					<th>Field</th>
					<th>Values</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Street Name:</td>
					<td><input type="text"
						th:placeholder="${houseToUpdate.streetName}"
						th:field="*{streetName}" /></td>
					<td th:if="${#fields.hasErrors('streetName')}"
						th:errors="*{streetName}">Street Name Error</td>
				</tr>
				<tr>
					<td>Street Number:</td>
					<td><input type="number"
						th:placeholder="${houseToUpdate.streetNumber}"
						th:field="*{streetNumber}" /></td>
					<td th:if="${#fields.hasErrors('streetNumber')}"
						th:errors="*{streetNumber}">Street Name Error</td>
				</tr>
				<tr>
					<td>Quarter:</td>
					<td><input type="text"
						th:placeholder="${houseToUpdate.quarter}" th:field="*{quarter}" /></td>
					<td th:if="${#fields.hasErrors('quarter')}" th:errors="*{quarter}">Street
						Name Error</td>
				</tr>
				<tr>
					<td>Town:</td>
					<td><input type="text" th:placeholder="${houseToUpdate.town}"
						th:field="*{town}" /></td>
					<td th:if="${#fields.hasErrors('town')}" th:errors="*{town}">Street
						Name Error</td>
				</tr>
				<tr>
					<td>ZIP Code:</td>
					<td><input type="number"
						th:placeholder="${houseToUpdate.zipCode}" th:field="*{zipCode}" /></td>
					<td th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}">Street
						Name Error</td>
				</tr>
				<tr>
					<td>Country:</td>
					<td><input type="text"
						th:placeholder="${houseToUpdate.country}" th:field="*{country}" /></td>
					<td th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Street
						Name Error</td>
				</tr>
				<tr>
					<td>House Surface (m<sup>2</sup>)
					</td>
					<td><input type="number"
						th:placeholder="${houseToUpdate.houseSurface}"
						th:field="*{houseSurface}" /></td>
					<td th:if="${#fields.hasErrors('houseSurface')}"
						th:errors="*{houseSurface}">Street Name Error</td>
				</tr>
				<tr>
					<td>Garden Surface:</td>
					<td><input type="number"
						th:placeholder="${houseToUpdate.gardenSurface}"
						th:field="*{gardenSurface}" /></td>
					<td th:if="${#fields.hasErrors('gardenSurface')}"
						th:errors="*{gardenSurface}">Street Name Error</td>
				</tr>
				<tr>
					<td>
						<button type="submit">Update House Info</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>